*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

target/
.settings/
.project
.classpath

recycle/
mvn-repo/

*.log
data/
logs/

u2ware-http-resource-server.jar
u2ware-http-resource-server.jar.md5

u2ware-http-webmvc-server.jar
u2ware-http-webmvc-server.jar.md5

spring-xd-u2ware-hyundai-elevator/
spring-xd-u2ware-hyundai-elevator-processor/
spring-xd-u2ware-hyundai-elevator-source/
spring-xd-u2ware-hyundai-elevator-rest-source/

spring-xd-u2ware-siemens-fireview/
spring-xd-u2ware-siemens-fireview-source/

project/



